.receipt {
  border-bottom: solid 1px black
}

.dough {
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.dough_layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.role {
  width: 200px;
  height: 50px;
  background-color: grey;
}

.powder {
  width: 200px;
  height: 50px;
  background-color: yellow;
}

.right {
  display: flex;
  flex-direction: column;
}

.tray {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tray div {
  border: 1px solid black;
  width: 30%;
  text-align: center;
}

.doughTable {
  display: flex;  
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
}

.doughTable div {
  height: 100px;
  width: 60px;
  border: 1px solid black;

}

.getDough div {
  width: 200px;
  border: 1px solid black;
  text-align: center;
}

.ingredients {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredients_boxes {
  display: flex;
  height: 250px;  
}

.box{
  width:  70px;  
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;  
}

.box div {
  border: 1px solid black;
  height: 40%;
  width: 90%;
}
  
.pizza {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  border: 1px solid black;
  width: 285px;
  height: 285px;
  border-radius: 50%;
}

.circle2 {
  border: 1px solid black;
  width: 140px;
  height: 285px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.circle3 {
  border: 1px solid black;
  width: 140px;
  height: 285px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.half_half {
  display: flex;
}